
.primary-btn {
    background: none repeat scroll 0 0 #2FB889;
    border: medium none;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 4px 5px 0 rgba(0, 0, 0, 0.45);
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font: 14px/35px FuturaW01-ExtraBoldCond_774896;
    outline: 0 none;
    padding: 0 15px;
    text-transform: capitalize;
    transition: all 0.3s linear 0s;
}
.primary-btn:hover {
    background: none repeat scroll 0 0 #435464;
}
.primary-btn:active {
    box-shadow: none;
}
.disable-btn {
    background: none repeat scroll 0 0 #CDCDCD;
    border: medium none;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 4px 5px 0 rgba(0, 0, 0, 0.1);
    color: #FFFFFF;
    cursor: default;
    display: inline-block;
    font: 14px/35px FuturaW01-ExtraBoldCond_774896;
    outline: 0 none;
    padding: 0 15px;
    text-transform: capitalize;
    transition: all 0.3s linear 0s;
}
.disable-btn:hover {
    background: none repeat scroll 0 0 #CDCDCD;
}
.disable-btn:active {
    box-shadow: 2px 4px 5px 0 rgba(0, 0, 0, 0.1);
}
.no-skin {
    background-color: #FFFFFF;
}
.login-container h1 a img {
    display: inline;
    text-align: center;
}
#loginLoginForm .clearfix {
    position: relative;
    text-align: right;
}
#loginLoginForm .clearfix input.width-35 {
    padding: 8px 10px 8px 25px;
    width: auto !important;
}
#loginLoginForm .clearfix .ace-icon.fa-key {
    color: #FFFFFF;
    float: right;
    left: 6px;
    margin-right: -15px;
    position: inherit;
    top: 16px;
}
#pass_form .clearfix {
    position: relative;
    text-align: right;
}
#pass_form .clearfix input.width-35 {
    padding: 8px 10px 8px 25px;
    width: auto !important;
}
#pass_form .clearfix .ace-icon.fa-lightbulb-o {
    color: #FFFFFF;
    float: right;
    left: 6px;
    margin-right: -15px;
    position: inherit;
    top: 16px;
}
.no-skin .navbar-container {
    padding-left: 0;
}
.no-skin .navbar-container .navbar-buttons {
    padding-top: 0;
}
#searchCustomer {
    width: auto;
}
#searchCustomer .form-group .col-sm-12 {
    padding-right: 0;
}
#searchCustomer .form-group input {
    border-radius: 5px 5px 5px 5px !important;
    font-size: 11px;
    line-height: 16px;
    padding: 5px 10px 5px 22px;
    width: 100%;
    z-index: 100;
}
.user-info > img {
    float: left;
    margin-right: 7px;
    margin-top: 8px;
}
#sidebar .nav-list > li > a {
    height: auto;
}
#sidebar .nav-list > li a {
    border-left: 5px solid #F8F8F8;
}
#sidebar .nav-list > li, #sidebar .nav-list > li:hover {
    height: auto;
}
#sidebar .nav-list > li a:hover {
    border-left: 5px solid #629CC9;
}
#sidebar .nav-list > li > a > .menu-icon {
    margin-top: 5px;
    vertical-align: top;
}
.no-skin .footer .footer-inner .footer-content {
    border-top: 3px double #E5E5E5;
    line-height: 36px;
    padding: 8px;
    right: 12px;
}
.no-skin .footer {
    height: auto;
    padding-top: 90px;
    position: relative;
    width: 100%;
}
.no-skin .footer .footer-inner {
}
.add_rewards a {
    background: none repeat scroll 0 0 #6FB3E0;
    color: #FFFFFF;
    float: right;
    padding: 10px 10px 10px 12px;
}
.add_rewards a:hover {
    background-color: #4F99C6;
}
.adminsuper.add_rewards {
    margin: 0;
}
.add_rewards, .adminsuper.add_rewards > a {
    margin: 5px;
}
#field1 .col-sm-10.control-label {
    padding-right: 30px !important;
    width: 100%;
}
#field1 #other {
    margin-right: 5px;
}
.add_profile.icon-1 {
    background-color: #62A8D1;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    margin-left: 10px;
    margin-top: -2px;
    padding: 8px;
}
.blank_lab {
    display: none;
}
#optionval .input_option .col-sm-9 {
    margin-bottom: 15px;
}
.x-btn {
    background-color: #62A8D1;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    margin-left: 10px;
    margin-top: 0;
    padding: 6px 10px;
}
#demo {
    background: none repeat scroll 0 0 #F3F3F3;
    border: 1px solid #E0E0E0;
    float: right;
    margin-bottom: 35px;
    margin-right: 20px;
    margin-top: -108px;
    padding: 15px;
    width: 33%;
}
#demo .form-group {
    margin: 0;
}
.form-horizontal .radio_prev .form-control {
    float: left;
    height: auto;
    margin-right: 8px;
    margin-top: 7px;
    width: auto;
}
.radio_prev .control-label {
    line-height: 27px;
}
.form-horizontal .radio_prev .control-label {
    padding: 0;
}
.check_prev .checkbox-inline {
    margin: 0;
    width: 48%;
}
.no-skin .nav-search .nav-search-icon {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
}
#field1 .multidiv {
    margin-left: 10px;
    padding-left: 3px;
}
.form-group.panel-default {
    border-top: 5px solid #435464;
    margin: 25px auto;
    width: 80%;
}
.form-group.panel-default .panel-heading h1 {
    font-size: 20px;
    margin: 0;
}
.form-group.panel-default .panel-heading h1 i {
    font-size: 14px;
    font-style: normal;
    margin-left: 10px;
}
.adjust-btn {
    font-weight: 700;
}
.choosePatient > h1 {
    font-size: 16px;
    text-align: center;
}
.hand-icon.grey {
    background: none repeat scroll 0 0 #F7F7F7;
    cursor: pointer;
    height: 40px;
    margin-bottom: 15px;
    padding: 10px 15px;
}
.hand-icon.grey:hover {
    background: none repeat scroll 0 0 #E3E1E1;
}
.tabbable .patientname {
    background: none repeat scroll 0 0 #438EB9;
    color: #FFFFFF;
    float: right;
    padding: 11px 10px;
    position: relative;
    top: 1px;
    z-index: 1;
}
#home4 .patientname b {
    margin-left: 5px;
}
.promo_check input {
    margin-right: 10px;
    margin-top: 3px;
    padding: 0;
    width: 15px;
}
#main-container .sidebar {
    width: 220px;
}
#main-container .sidebar + .main-content {
    margin-left: 220px;
}
#main-container .sidebar.menu-min + .main-content {
    margin-left: 43px;
}
#main-container .sidebar.menu-min, #main-container .sidebar.menu-min.compact, #main-container .sidebar.menu-min.navbar-collapse {
    width: 43px;
}
#main-container .sidebar.menu-min .nav-list > li > a > span {
    display: none;
    width: 80%;
}
#main-container .no-skin .sidebar.menu-min .nav-list > li > a > .menu-text {
    display: none;
}
textarea#add_description_textbox {
    background: none repeat scroll 0 0 #F0F0F0;
    width: 100%;
}
.balance_box_header {
    background: none repeat scroll 0 0 #F0F0F0;
    color: #4C718A;
    display: block;
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
    text-align: center;
    text-shadow: none;
    width: 100%;
}
.rightcol {
    padding: 0;
}
.balancebox {
    display: block;
    padding: 0;
    width: 100%;
}
.balancebox .balance {
    background: none repeat scroll 0 0 #F0F0F0;
    display: block;
    margin-top: 10px;
    width: 100%;
}
.balancebox .balance .balanceheading {
    color: #4C718A;
    float: left;
    font-weight: 700;
    margin: 0;
    padding: 10px 0;
    text-align: center;
    width: 40%;
}
.tabbable .tab-content .Accelerated {
    color: #4C718A;
    font-weight: 700;
    margin: 0;
    padding: 10px 0;
    text-align: center;
}
.Accelerated1 {
    color: #4C718A;
    font-size: 14px;
    font-weight: 700;
    margin: 0 0 0 14px;
    padding: 10px 0;
    text-align: center;
}
.balancebox .balance .balancePoint {
    background: none repeat scroll 0 0 #62A8D1;
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 16px;
    padding: 10px 0;
    text-align: center;
    width: 60%;
}
.balancebox .balance .balancePoint1 {
    background: none repeat scroll 0 0 #62A8D1;
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 12px;
    padding: 10px 0;
    text-align: center;
    width: 60%;
}
.balancebox .balance .balancePoint2 {
    background: none repeat scroll 0 0 #62A8D1;
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 16px;
    padding: 17px 0;
    text-align: center;
    width: 60%;
}
.recordBtn {
    margin-top: 10px;
    text-align: right;
}
.recordBtn .btn-info {
    background: none repeat scroll 0 0 #6E6F6F;
    border: medium none;
    box-shadow: none;
    color: #FFFFFF;
    padding: 5px 50px;
    text-align: center;
}
.patienthistory table tr td.amountpositive {
    background: none repeat scroll 0 0 #62A8D1;
    color: #FFFFFF;
    padding-bottom: 12px;
    padding-top: 12px;
    text-align: center;
}
.patienthistory table tr td.firstCol {
    text-align: center;
}
.patienthistory .deleteBtn {
    background: url("../img/deleteBtn.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    border: 0 none;
    height: 24px;
    width: 21px;
}
#goodMessage {
    background-color: #DFF0D8;
    border: 1px solid rgba(0, 0, 0, 0);
    color: #3C763D;
    font-size: 14px;
    margin-bottom: 20px;
    padding: 15px;
}
#badMessage {
    background-color: #FCF8E3;
    border: 1px solid rgba(0, 0, 0, 0);
    color: #8A6D3B;
    font-size: 14px;
    margin-bottom: 20px;
    padding: 15px;
}
.chartDescp .heading1 {
    float: left;
    line-height: 18px;
    max-width: 60%;
}
.chartDescp h4.totalAmt {
    margin: 8px 0 0;
}
.contArea iframe {
    border: 0 none;
    min-height: 500px;
    width: 100%;
}
.form-group .selectMonth {
    margin: 0 25px;
}
#myModal_ft .rowcont {
    margin: 0;
}
#myModal_ft .enquiry_box {
    padding: 0;
}
#myModal_ft .enquiry_box .relative {
    display: block;
    margin-bottom: 10px;
}
#myModal_ft .enquiry_box .relative input[type="email"], #myModal_ft .enquiry_box .relative input[type="text"], #myModal_ft .enquiry_box .relative textarea {
    display: block;
    width: 100%;
}
.ui-widget-overlay {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
}
.ui-widget-content {
    padding: 0;
}
.ui-widget-content .ui-dialog-titlebar {
    border: 0 none;
    border-radius: 0 0 0 0;
}
#dialog-message .new_card {
    margin-top: 20px !important;
}
.star {
    color: #FF0000;
}
table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc {
    background-color: #438EB9 !important;
    color: #FFFFFF;
}
#main-container #sidebar ul {
    position: relative;
}
#main-container #sidebar ul li a .menu-text {
    left: 20%;
    position: absolute;
    top: 16px;
}
.basicrptCol, .basicrptCol1, .basicrptCol2 {
    border: 1px solid #E5E5E5;
    margin-bottom: 20px;
    padding: 0;
}
.basicReportmain ol {
    display: block;
    margin: 0 0 0 10px;
    padding: 0;
}
.basicReportmain ol li {
    font-size: 14px;
    margin: 0 0 10px 25px;
    padding: 0;
}
.basicReportmain ol li span {
    font-size: 13px;
    font-weight: 700;
}
.basicrptCol h3, .basicrptCol1 h3, .basicrptCol2 h3 {
    background: none repeat scroll 0 0 #F5F5F5;
    border-bottom: 1px solid #E5E5E5;
    color: #428BCA;
    margin: 0 0 10px;
    padding: 10px 0;
    text-align: center;
}
.ui-state-default, .ui-state-hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
}
.page-content .page-header {
    padding-bottom: 5px;
    padding-top: 0;
}
li.light-blue .dropdown-toggle .user-info {
    min-width: 75px;
}
.ui-dialog .ui-dialog-titlebar {
    min-height: 35px;
    padding: 10px;
}
.ui-dialog .ui-dialog-title {
    display: block;
    font-weight: lighter;
    min-height: 31px;
    padding: 4px 0 0 10px;
}
.ui-dialog .ui-dialog-content .row {
    margin-left: 0;
    margin-right: 0;
}
.ui-dialog .enquiry_box table tr td {
    padding: 5px;
}
.ui-dialog .ui-dialog-content {
    padding: 5px 10px !important;
}
#dialog-message .innermsg {
    padding: 5px;
}
#dialog-message #new_card {
    display: block;
    margin: 0 5px;
    width: 96%;
}
.ui-dialog #dialog-message .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: none;
}
.ui-dialog #dialog-message .ui-dialog-buttonpane {
    padding: 10px;
    text-align: center;
}
.ui-dialog #dialog-message1_base .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: none;
}
.ui-dialog #dialog-message1_base .ui-dialog-buttonpane {
    padding: 10px;
    text-align: center;
}
#dialog-message .ui-dialog-buttonpane input[type="button"] {
    font-size: 13px;
    padding: 5px 10px;
}
#dialog-message .inneropt {
    display: block;
    margin-bottom: 5px;
}
#dialog-message .inneropt label {
    display: block;
    margin-bottom: 0;
}
#dialog-message .inneropt input[type="text"] {
    margin-bottom: 10px;
    width: 100%;
}
#dialog-message1 .inquerybox1, #dialog-message1 .inquerybox2 {
    margin: 0;
    padding: 0;
}
#dialog-message1 .inquerybox1 {
    margin: 10px 0;
}
#dialog-message1 .enquiry_box table tr td {
    padding: 5px 0;
}
#dialog-message1 .enquiry_box table tr td input[type="email"], #dialog-message1 .enquiry_box table tr td input[type="text"], #dialog-message1 .enquiry_box table tr td textarea {
    display: block;
    width: 100%;
}
#dialog .innerbox2 {
    min-height: 70px;
    padding: 5px;
}
#dialog .innerbox2 input[type="text"], #dialog .innerbox2 select {
    margin-bottom: 10px;
    width: 100%;
}
.navbar {
    background: none repeat scroll 0 0 #435464 !important;
}
.navbar-header a.logobox {
    display: block;
    padding: 8px 0 0 20px;
}
.patientCardNo {
    padding: 0;
    text-align: center;
}
.patientCardNo #login {
    margin: 0 auto;
    max-width: 600px;
    padding: 0;
    text-align: center;
}
.patientCardNo .promotionmgmtBox {
    margin: 20% auto 0 !important;
}
.patientCardNo .headBox {
    background: none repeat scroll 0 0 #F2F2F2;
    border-top: 4px solid #435464;
    padding: 5px 0;
    text-align: left;
}
.patientCardNo .headBox h1 {
    color: #435464;
    margin: 0;
    padding: 10px;
    text-align: left;
}
.patientCardNo .headBox h1 .backcard {
    font-size: 13px;
}
.patientCardNo .patientCardBox, .patientCardNo .patientCardBox input[type="text"] {
    width: 100% !important;
}
.userMgmBox .export {
    background: none repeat scroll 0 0 #4F99C6;
    color: #FFFFFF;
    float: right;
    margin-bottom: 0;
    padding: 5px 10px;
    position: relative;
    right: 5px;
    top: -5px;
}
.userMgmBox .export a, .userMgmBox .export a:hover {
    color: #FFFFFF;
    text-decoration: none;
}
.adminsuper a.adminsetting {
    background: none repeat scroll 0 0 #4F99C6;
    color: #FFFFFF;
    margin-bottom: 0;
    padding: 5px 10px;
    position: relative;
    text-decoration: none;
    top: -5px;
}
.newstatus {
    cursor: pointer;
}
.productBoxSM {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 3px 3px 14px -3px #A3A3A3;
    cursor: pointer;
    margin-bottom: 50px;
    margin-left: -5px;
    max-height: 210px;
    min-height: 220px;
    padding: 6px;
    position: relative;
    text-align: center;
    width: 94%;
}
.productBoxSM p {
    border-bottom: 1px solid #D7D7D7;
    color: #333333;
    font-family: arial;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    margin: 0 5px 10px;
    padding: 5px 0;
    text-transform: uppercase;
}
.productBoxSM h3 {
    background: none repeat scroll 0 0 #E73A40;
    box-shadow: 0 2px 6px -1px #000000;
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: 700;
    height: 44px;
    left: -14px;
    padding: 9px 5px 5px 27px;
    position: absolute;
    text-align: left;
    text-transform: uppercase;
    top: 148px;
    width: 175px;
}
.productBoxSM h3 span {
    display: block;
    font-size: 10px;
    font-weight: 400;
    text-transform: none;
}
.productBoxSM h3 span.headTopCorner {
    background: url("https://dvpizcali3m6.cloudfront.net/img/reward_imges/slider-head-topcornerSM.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    display: block;
    height: 10px;
    left: 0;
    position: absolute;
    top: -10px;
    width: 14px;
}
.productBoxSM h3 span.headrightcorner {
    background: url("https://dvpizcali3m6.cloudfront.net/img/reward_imges/sliderheadrifhtSM.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    display: block;
    height: 44px;
    left: 175px;
    position: absolute;
    top: 0;
    width: 13px;
}
.condition-agreement-wrap {
    background: none repeat scroll 0 0 #F3F3F3 !important;
    color: #555555;
    line-height: 20px;
    padding: 15px;
    text-align: left;
}
.condition-agreement-wrap .condition-agreement-inner {
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    margin-bottom: 15px;
    max-height: 350px;
    overflow: auto;
    padding: 5px;
}
.condition-agreement-wrap .heading {
    color: #435464;
    font: 28px/34px FuturaW01-ExtraBoldCond_774896;
    margin-bottom: 10px;
}
.condition-agreement-wrap p {
    margin-bottom: 10px;
}
.condition-agreement-wrap .link {
    color: #00AAF7;
}
.condition-agreement-wrap .value {
    border-bottom: 1px solid #333333;
    display: inline-block;
    padding: 0 1px;
}
.condition-agreement-wrap .highlited-text {
    display: inline-block;
    font: 700 12px 'Open Sans';
}
.condition-agreement-wrap .agree-check {
    display: inline-block;
    margin: 0 5px -4px 0;
    position: relative;
    top: 2px;
}
.condition-agreement-wrap .submit-btn {
    display: block;
    margin: auto;
    width: 80px;
}
.accesslink {
    display: block;
    text-align: center;
}
.error_validate {
    color: #FF0000;
}
#dialog-message1 {
    width: 450px !important;
}
.well .bigger-110 {
    min-width: 197px;
}
#mybadges {
    border: 1px solid #F0F0F0;
    padding: 0;
}
.patienthistory .opacity-midium {
    border: 1px solid #C5D0DC;
    display: block;
    height: 175px;
    margin-left: 7px;
    margin-right: 7px;
    padding: 15px 5px;
    text-align: center;
    width: 200px;
}
.badges {
    float: left;
    margin: 10px;
    max-width: none;
    padding: 2px;
    transition: all 0.1s ease 0s;
    width: auto;
}
.badges:hover {
}
.badges .check-ins-heading {
    color: #2FB889;
    font: 18px/25px "FuturaW01-ExtraBoldCond_774896";
    margin-top: 15px;
    position: relative;
    text-align: center;
}
.badges .check-ins-heading .check-ins-tooltip {
    background: none repeat scroll 0 0 #00AAF7;
    color: #FFFFFF;
    display: block;
    font: 15px/14px "FuturaW01-MediumCondens";
    opacity: 0;
    padding: 9px 0 6px;
    position: absolute;
    top: -5px;
    transition: all 0.4s linear 0s;
    width: 100%;
}
.badges .check-ins-heading:hover .check-ins-tooltip {
    opacity: 1;
}
#redeemPointsLabel {
    color: #000000;
    font-weight: bold;
}
#points_value_span {
    color: #2FB889;
    font-size: 20px;
}
#points_value_span1 {
    color: #2FB889;
    font-size: 20px;
}
.user-info {
}
.theme-bold-text {
    color: #2FB889;
    font-weight: bold;
}
#redeemModal .modal-footer {
    text-align: center;
}
.showOnclick .dropdown-toggle {
    display: block;
    margin-left: 44px;
    margin-top: 99px;
}
.showOnclick .dropdown-menu.dropdown-menu-right.dropdown-caret:before, .showOnclick .dropdown-menu.dropdown-caret-right.dropdown-caret:before {
    left: 181px;
    right: auto;
    top: -8px;
}
.showOnclick .dropdown-menu.dropdown-menu-right.dropdown-caret, .showOnclick .dropdown-menu.dropdown-caret-right.dropdown-caret {
    left: 14px;
    top: 120px;
}
.showOnclick .dropdown-menu.dropdown-menu-right.dropdown-caret:after, .showOnclick .dropdown-menu.dropdown-caret-right.dropdown-caret:after {
    display: none;
}
.showOnclick1 .dropdown-toggle {
    display: block;
    margin-left: 44px;
    margin-top: 99px;
}
.showOnclick1 .dropdown-menu.dropdown-menu-right.dropdown-caret:before, .showOnclick1 .dropdown-menu.dropdown-caret-right.dropdown-caret:before {
    left: 181px;
    right: auto;
    top: -8px;
}
.showOnclick1 .dropdown-menu.dropdown-menu-right.dropdown-caret, .showOnclick1 .dropdown-menu.dropdown-caret-right.dropdown-caret {
    left: 14px;
    top: 120px;
}
.showOnclick1 .dropdown-menu.dropdown-menu-right.dropdown-caret:after, .showOnclick1 .dropdown-menu.dropdown-caret-right.dropdown-caret:after {
    display: none;
}
.showOnclick .dropdown-menu.dropdown-close.dropdown-menu-right {
    width: 100%;
}
.showOnclick .dropdown-menu.dropdown-close.dropdown-menu-right li a {
    display: inline-block;
    margin: 0;
    padding: 0;
}
.showOnclick1 .dropdown-menu.dropdown-close.dropdown-menu-right {
    width: 100%;
}
.showOnclick1 .dropdown-menu.dropdown-close.dropdown-menu-right li a {
    display: inline-block;
    margin: 0;
    padding: 0;
}
.showOnclick2 .dropdown-menu.dropdown-close.dropdown-menu-right li a {
    display: inline-block;
    margin: 0;
    padding: 0;
}
.showOnclick2 ul.dropdown-navbar {
    width: 245px;
}
.sidebar.menu-min .nav-list > li > .submenu {
    position: absolute !important;
    top: -40px !important;
}
.traing-name {
    height: 30px;
    top: 14px !important;
}
.traing-name small {
    font-size: 13px;
}
.balancebox .dropdown-menu.dropdown-close.dropdown-menu-right {
    left: auto;
    right: 100px;
    top: 30px;
}
.balancebox .balance .balanceheading {
    position: relative;
}
h4.coupon_display img {
    float: left;
}
h4.coupon_display a {
    color: #4C718A;
    float: left;
    font-weight: 700;
    margin-left: 10px;
    margin-top: 6px;
}
.nav-search-new {
    line-height: 24px;
    position: absolute;
    right: 10px !important;
    width: 50% !important;
}
#quick_search_patient_form.quickSearch-dt{
    float: left;
    width: 20%;}
#searchCustomer.quickSearch-dt-2{
    float: left;
    width: 80%;}
.cst-adj-2{ width:60%;}
#requestreviewModalMain .modal-content .row {
    background: #F9F9F9;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 2px;
}
#requestreviewModalMain .modal-content .row .col-sm-6 {
    width: 50%;
    text-align: left;
}
#requestreviewModalMain .modal-content .row .col-sm-6 p .glyphicon {
    font-size: 14px;
    margin-right: 10px;
}

@media only screen and (max-width: 990px) {
.patientCardNo #login {
    width: 100%;
}
.nav-search-new{ width: 60% !important;}
#quick_search_patient_form.quickSearch-dt {
    width: 25%;
}
#searchCustomer.quickSearch-dt-2 {
    float: left;
    width: 75%;
}
label span.lbl{ font-size: 11px;}
.input-icon > .ace-icon {
    z-index: 999;
}
}
@media only screen and (max-width: 767px) {
.breadcrumbs .nav-search {
    position: relative;
    top: -2px !important;
}
.breadcrumbs {
    line-height: 20px;
    min-height: inherit;
    padding: 0 10px;
}
#searchCustomer {
    width: 100%;
}
#searchCustomer .form-group {
    display: block;
    margin: 0 0 0 10px;
    width: 100%;
}
ul.breadcrumb {
    margin: 0;
    padding: 5px 0;
}
span.input-icon {
    width: 100%;
}
#searchCustomer .nav-search-icon {
    left: 23px;
    z-index: 100;
}
.chartDescp h4.totalAmt {
    margin: 0;
}
.no-skin .nav-search .nav-search-icon {
    left: 22px;
}
.innerContentBox {
    padding: 0;
}
.adminsuper .add_rewards, .adminsuper.add_rewards {
    display: block;
    margin: 0;
    text-align: center;
    width: 100%;
}
.adminsuper .add_rewards a, .adminsuper.add_rewards > a {
    display: block;
    width: 100%;
}
#example_filter, #example_length {
    background: none repeat scroll 0 0 #F0F0F0;
    display: block;
    margin: 5px 0;
    padding: 10px 0 5px;
    text-align: center;
    width: 100%;
}
#example_info {
    display: block;
    text-align: center;
    width: 100%;
}
.dataTables_wrapper .dataTables_paginate .paginate_button, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    padding: 0 5px !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    padding: 0 !important;
}
.dataTables_wrapper .dataTables_paginate {
    display: block;
    float: none !important;
    text-align: center !important;
    width: 100%;
}
.userMgmBox table.dataTable tbody td .emailClass {
}
table.dataTable tbody td {
    line-height: 15px;
    padding: 5px;
}
.footer .footer-inner .footer-content {
    padding: 0 !important;
}
.tabbable .nav.nav-tabs.padding-12 {
    padding-left: 2px;
}
.tabbable .nav-tabs > li > a {
    padding: 10px;
}
.tabbable .patientname {
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
}
.leftCol, .recordBtn {
    padding: 0;
}
.recordBtn {
    margin-bottom: 10px;
}
.recordBtn .btn-info {
    margin: 10px 13px 0 0;
}
.tabbable .tab-content {
    padding-left: 0;
    padding-right: 0;
}
.table-responsive {
    border: 0 none;
}
.form-group .selectMonth {
    margin: 10px 0;
}
#demo {
    clear: both;
    display: block;
    float: none;
    margin: 0 10px;
    width: auto;
}
}
@media only screen and (max-width: 480px) {
.chartDescp {
    border-bottom: 1px solid #E3E3E3;
    border-left-width: 0 !important;
    display: block;
    float: none;
    margin: 0 0 11px !important;
    padding: 0 0 4px !important;
    position: relative;
    width: 100% !important;
}
.widget-box {
    margin-bottom: 30px !important;
}
.dataTables_wrapper {
    margin-bottom: 40px;
}
.footer .footer-inner .footer-content span {
    display: block !important;
}
.contArea {
    margin-bottom: 30px;
}
.patientCardNo #login {
    margin: 0 0 35px;
    width: 100%;
}
}
@media only screen and (max-width: 460px) {
.navbar-header a.logobox {
    text-align: center;
}
.navbar-header a.logobox .img-responsive {
    display: initial;
}
}
@media only screen and (max-width: 439px) {
.tabbable ul#myTab4 li {
    margin-bottom: 2px !important;
    width: 100%;
}
}
#request-message .inquerybox1, #request-message .inquerybox2 {
    margin: 0;
    padding: 0;
}
#request-message .inquerybox1 {
    margin: 10px 0;
}
#request-message .enquiry_box table tr td {
    padding: 5px 8px;
}
#request-message .enquiry_box table tr td input[type="email"], #request-message .enquiry_box table tr td input[type="text"], #request-message .enquiry_box table tr td textarea {
    display: block;
    width: 100%;
}
#amazon_prd_list_div .product-boxx {
    margin-left: 245px;
    padding: 0;
}
.cst-adj {
    float: left;
    width: 37%;
}
.fxt {
    margin: -5px 0 0;
    padding-right: 10px;
    position: relative;
    text-align: right;
    z-index: 1000;
}
.main-container .sidebar.menu-min .nav-list a .badge {
    left: inherit;
    position: absolute;
    right: 10px !important;
    top: 10px !important;
}
#main-container #sidebar ul li a .menu-text {
    left: 18%;
    position: absolute;
    top: 17px;
    word-break: break-all;
    word-wrap: break-word;
}
#main-container #sidebar ul li.active a .menu-text {
    font-size: 12px;
}
#main-container #sidebar ul.submenu li a .redlevel {
    left: 27%;
    top: 7px;
}
.dt-buttons input[type="submit"] {
    -moz-user-select: none;
    background-color: #E9E9E9;
    background-image: -moz-linear-gradient(center top , #FFFFFF 0%, #E9E9E9 100%);
    border: 1px solid #999999;
    border-radius: 2px 2px 2px 2px;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-size: 0.88em;
    margin-right: 0.333em;
    outline: medium none;
    overflow: hidden;
    padding: 0.5em 1em;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
}
.dt-buttons input[type="submit"].disabled {
    background-color: #F9F9F9;
    background-image: -moz-linear-gradient(center top , #FFFFFF 0%, #F9F9F9 100%);
    border: 1px solid #D0D0D0;
    color: #999999;
    cursor: default;
}
.dt-buttons input[type="submit"]:active:not(.disabled) {
    background-color: #E2E2E2;
    background-image: -moz-linear-gradient(center top , #F3F3F3 0%, #E2E2E2 100%);
    box-shadow: 1px 1px 3px #999999 inset;
}
.dt-buttons input[type="submit"]:active:hover:not(.disabled):not(.disabled) {
    background-color: #CCCCCC;
    background-image: -moz-linear-gradient(center top , #EAEAEA 0%, #CCCCCC 100%);
    box-shadow: 1px 1px 3px #999999 inset;
}
.dt-buttons input[type="submit"]:hover {
    text-decoration: none;
}
.dt-buttons input[type="submit"]:hover:not(.disabled) {
    background-color: #E0E0E0;
    background-image: -moz-linear-gradient(center top , #F9F9F9 0%, #E0E0E0 100%);
    border: 1px solid #666666;
}
.dt-buttons input[type="submit"]:focus:not(.disabled) {
    background-color: #79ACE9;
    background-image: -moz-linear-gradient(center top , #BDDEF4 0%, #79ACE9 100%);
    border: 1px solid #426C9E;
    outline: medium none;
    text-shadow: 0 1px 0 #C4DEF1;
}
@media (min-width: 768px) and (max-width: 992px) {
.submitBtn-Box {
    text-align: center;
}
}
@media (min-width: 320px) and (max-width: 767px) {
    .assignCard{ position: relative; z-index: 100; float: none !important;}
    .quickSearch{ float:left; margin-left: 30px;margin-top: 5px;}
    .fxt {text-align: left;margin-bottom: 7px;}
    #searchCustomer .nav-search-icon {
    left: 2px;
}
.nav-search-new {
    line-height: 24px;
    position: absolute;
    right: 22px !important;
    width: 100% !important;
}
#searchCustomer.quickSearch-dt-2 {
    width: 100%;
}
.patientCardNo .headBox h1 {
    font-size: 22px;
}
.page-header h1 {
    font-size: 16px !important;
}
.add_rewards {
    float: none !important;
}
.adminsuper .add_rewards a, .adminsuper.add_rewards > a {
    width: 30%;
}
.add_rewards a {
    padding: 5px 12px 4px 13px;
}
.cst-adj{ width: 50%;}
#searchCustomer span.input-icon.cst-adj-2 .nomarg-left{ margin-left:0;}
.nopad-left{ padding-left:0;}

.add_profile.icon-1 {
    float: left;
    margin-top: 10px;
    padding: 8px;
    text-align: center;
    width: 100px;
}
.productBoxSM {
    max-height: inherit;
}
#amazon_prd_list_div .product-boxx {
    margin-left: 0;
    padding: 0;
}
}
@media (min-width: 320px) and (max-width: 480px) {
.managementbtn a {
    display: block;
    margin-bottom: 0;
}
.adminsuper table.dataTable tbody td {
    padding-left: 5px;
    padding-right: 5px;
}
}
@media (max-width: 676px) {
.choosePatient .hand-icon.grey .patientname2 {
    display: none !important;
}
.choosePatient .hand-icon.grey .patientname3 {
    display: none !important;
}
}
